<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to Car Dealz {{ user.first_name }}!!!!</h1>
    <a href="/dashboard">dashboard</a>
    <a href="/cars/create">Add a car</a>
    <a href="/logout">Logout</a>
    <h2>Cars for sale</h2>
    <table>
        <tr>
            <th>Model</th>
            <th>Year</th>
            <th>Seller</th>
            <th>Actions</th>
        </tr>
        {% for car in all_cars %}
            {% if user.id == car.user_id %}
        <tr>
            <td>{{car.model}}</td>
            <td>{{car.year}}</td>
            <td>{{ car.seller.first_name ~ ' ' ~ car.seller.last_name }}</td>
            <td>
                <a href="/cars/edit/{{car.id}}">Edit</a>
                <a href="/cars/delete/{{car.id}}">Delete</a>
                <a href="/car/{{car.id}}">View</a>
            </td>
        </tr>
            {% endif %}
        {% endfor %}
    </table>
</body>
</html>

